.DS_Store
Thumbs.db
node_modules/
dist/
build/
.env
.vscode/
.idea/
.gradle/
.env


# env
.env
.env.*
!.env.example

# dashboard env
syncplay-dashboard/.env
syncplay-dashboard/.env.*
!syncplay-dashboard/.env.example

# dependencies
node_modules/
**/node_modules/

# build outputs
dist/
**/dist/
build/
syncplay-server/build/

# gradle
.gradle/
# local spring config
syncplay-server/src/main/resources/application-local.properties
